

.bd-callout{
    
    padding: 1.25rem;
    margin: 1.25rem;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: .25rem solid #5BC0DE;    
    border-radius: .25rem;
}